body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://nordtechnicawelcome.blob.core.windows.net/files/backgroundimage.jpeg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-box {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

.letter-content {
    font-size: 18px;
    line-height: 1.6;
}
