body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://www.mariasahai.com/img-get2/I0000DU71gYIE26Y/sec=/fit=1200x1200/I0000DU71gYIE26Y.jpg'); /* Replace 'background.jpg' with your image file */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.monitor {
    background: hsl(154 50% 5%); /* Semi-transparent white background */
    color: hsl(154 84% 70%);
    text-shadow: 0 0 4px hsl(154 84% 70%);
    font-family: monospace;
    font-size: 16px;
    text-shadow: 0 0 5px hsl(154, 84%, 70%);
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    min-height: 400px;
}

.letter-content {
    font-size: 18px;
    line-height: 1.6;
}


h1 { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

#glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2; /* ensure the effect doesn't cover the text */
  }

  @keyframes lines {
    0% {background-position: 0px 0px}
    50% {background-position: 0px 0px}
    51% {background-position: 0px 2px}
    100% {background-position: 0px 2px}
  }

  #interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.3) 3px 4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    animation: lines 0.066666666s linear infinite;
  }

  @keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
  }

  .blink {
    animation: blink 0.4s linear infinite;
  }